<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>DateAdded</key>
			<string></string>
			<key>Thumbnail</key>
			<string></string>
			<key>GawkUrl</key>
			<string>No Gawks Added</string>
		</dict>
	</array>
</dict>
</plist>
